commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
option_settings:
  - namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: COMPOSER_HOME
    value: /root
    
option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 1200

container_commands:
     01 clearcache:
        command: "php artisan config:cache"
     